body {
    font-family: 'Arial', sans-serif;
    background-color: #eee;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #333;
    /* default text color */
    font-size: 1rem;
    /* default font size */
}

::-webkit-scrollbar {
    display: none;
}

/* Container Styles */
.container {
    padding: 20px;
}

.center {
    display: flex;
    justify-content: center;
}

.pagehead {
    font-size: 25px;
    margin: -35px;
    display: flex;
    /* Use flexbox to align */
    justify-content: center;
    /* Center horizontally */
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    display: flex;
    /* Use flexbox to align items */
    justify-content: space-between;
    /* Space between logo and nav */
    align-items: center;
    /* Center items vertically */
}

.header-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 1rem;
}

.header-main .top-section {
    display: flex;
    flex-direction: row;
    margin-top: -45px;
    margin-left: -60px;
    margin-bottom: -10px;
    align-items: center;
    justify-content: flex-start;
    /* Align items to the start */
    width: 100%;
}

.header-main .top-section .logo-container {
    position: static;
    top: 0;
    transform: translateY(17px) translateX(30px);
}


.header-main .top-section .pagehead {
    margin-right: 0px;
}

.header-main nav ul {
    margin-top: -20px;
    justify-content: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    /* Align nav items in a row */
    align-items: center;
    /* Center items vertically */
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}


footer {
    padding-bottom: 0;
    background-color: #333;
    color: white;
    padding: 0.1rem;
    text-align: center;
    margin-top: auto;
}


.fullimg {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.halfimg {
    width: 50%;
    height: auto;
    object-fit: cover;
}

.quarterimg {
    width: 25%vw;
    height: auto;
    object-fit: cover;
}

.hidden {
    display: none;
}
