/* Offense Categories table */
.offense-categories {
    width: 100%;
    border-collapse: collapse;
}

.offense-categories th,
.offense-categories td {
    border: 1px solid #0f0f0f;
    padding-top: 2px;
    padding-bottom: 1px;
    padding-left: 8px;
    padding-right: 8px;
    text-align: left;
}

.offense-categories th {
    background-color: #f2f2f2;
}


/* Terms & Definitions table */
.terms-definitions {
    width: 100%;
    border-collapse: collapse;
}

.terms-definitions th,
.terms-definitions td {
    border: 1px solid #0f0f0f;
    padding: 8px;
    text-align: left;
}

.terms-definitions th {
    background-color: #f2f2f2;
}

/* Offenses table */
.offenses {
    width: 100%;
    border-collapse: collapse;
}

.offenses th,
.offenses td {
    border: 1px solid #0f0f0f;
    padding: 8px;
    text-align: left;
}

.offenses th {
    background-color: #f2f2f2;
}

/* Display color classes */
.orange {
    background-color: orange;
    color: white;
}

.red {
    background-color: red;
    color: white;
}

.green {
    background-color: green;
    color: white;
}

.hidden {
    display: none;
}