/* Main document styles */
body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 0.6rem;
    display: flex;
    /* Use flexbox to align items */
    justify-content: space-between;
    /* Space between logo and nav */
    align-items: center;
    /* Center items vertically */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    /* Align nav items in a row */
    align-items: center;
    /* Center items vertically */
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

footer {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}


h1 {
    text-align: center;
}

hr {
    margin-bottom: 20px;
}

/* Offense Categories */
.offense-categories {
    list-style-type: none;
    padding: 0;
}

.offense-categories li {
    margin-bottom: 5px;
}

/* Terms & Definitions */
.terms-definitions {
    margin-left: 20px
}

.terms-definitions dt {
    font-weight: bold;
}

dd {
    display: block;
    margin-inline-start: 40px;
    unicode-bidi: isolate;
    margin-bottom: 5px;
}

/* Offenses table */
.offenses {
    width: 100%;
    border-collapse: collapse;
}

.offenses th,
.offenses td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.offenses th {
    background-color: #f2f2f2;
}

/* Display color classes */
.orange {
    background-color: orange;
    color: white;
}

.red {
    background-color: red;
    color: white;
}

.green {
    background-color: green;
    color: white;
}

.hidden {
    display: none;
}